@model List<Product>
<section class="col-md-12">
    <div class="card">
        <div class="card-header">
            <span class="card-title">محصولات جدید</span>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        decimal temp1 = 0;
                        decimal temp2 = 0;
                        <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
                            <div class="card">
                                <div class="img-box-product">
                                    <img src="~/Content/TemporaryFiles/@Enum.GetName(typeof(PathType), item.Attachments.Where(x=>x.Type == AttachmentType.اصلی).Select(x=>x.PathType).FirstOrDefault())/@item.Attachments.Where(x=>x.Type == AttachmentType.اصلی).Select(x=>x.FileName).FirstOrDefault()" alt="@item.Name.Replace(' ', '_')" class="card-img-top img-rounded" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@(item.Name.Length > 20 ? item.Name.Substring(0, 19) + " ...." : item.Name)</h5>
                                    <div class="d-block">
                                        @if (item.CallForPrice)
                                        {
                                            <label class="text-danger control-label mt-2 text-center">جهت اطلاع از آخرین قیمت، تماس حاصل فرمایید</label>
                                        }
                                        else
                                        {
                                            if (item.HasDiscount || item.DiscountType != DiscountType.نامشخص)
                                            {
                                                <label class="control-label text-decoration-line-through">
                                                    قیمت اصلی : @string.Format("{0:C0} تومان", item.Price).Replace("$", "")
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="control-label">
                                                    قیمت اصلی : @string.Format("{0:C0} تومان", item.Price).Replace("$", "")
                                                </label>
                                            }
                                            if (item.DiscountType != DiscountType.نامشخص)
                                            {
                                                if (item.DiscountType == DiscountType.مبلغی)
                                                {
                                                    temp1 = item.Discount;
                                                    <label class="control-label text-info">
                                                        تخفیف محصول : @string.Format("{0:C0} تومان", item.Discount).Replace("$", "")
                                                    </label>
                                                }
                                                else if (item.DiscountType == DiscountType.درصدی)
                                                {
                                                    temp1 = (item.Price * item.Discount) / 100;
                                                    <label class="control-label text-info">
                                                        تخفیف محصول : @string.Format("{0:C0} درصد", item.Discount).Replace("$", "")
                                                    </label>
                                                }
                                            }
                                            if (item.Category.HasDiscountsApplied)
                                            {
                                                if (item.DiscountTypes != DiscountType.نامشخص)
                                                {
                                                    if (item.DiscountTypes == DiscountType.مبلغی)
                                                    {
                                                        temp2 = item.DiscountAmount;
                                                        var text = $"تخفیف {item.DiscountName} : {string.Format("{0:C0} تومان", item.DiscountAmount).Replace("$", "")}";
                                                        <label class="control-label text-danger">
                                                            @text
                                                        </label>
                                                    }
                                                    else if (item.DiscountTypes == DiscountType.درصدی)
                                                    {
                                                        temp2 = (item.Price * item.DiscountAmount) / 100;
                                                        var text = $"تخفیف {item.DiscountName} : {string.Format("{0:C0} درصد", item.DiscountAmount).Replace("$", "")}";
                                                        <label class="control-label text-danger">
                                                            @text
                                                        </label>
                                                    }
                                                }
                                            }
                                            if (item.Category.HasDiscountsApplied || item.HasDiscount)
                                            {
                                                var priceNew = item.Price - (temp1 + temp2);
                                                <label class="control-label text-success">
                                                    قیمت نهایی : @string.Format("{0:C0} تومان", priceNew).Replace("$", "")
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group-justified" style="float:left">
                                        <a href="@Url.RouteUrl("product",new { TrackingCode=item.TrackingCode,Title=item.Name.Replace(' ','_').Replace('/','_')})" class="btn btn-outline-primary">مشاهده</a>
                                        <button type="button" class="btn btn-outline-info" onclick="AjaxCart.addproducttocomparelist('@Url.RouteUrl("AddProductToCompareList", new { productId = item.ID })');return false;" value="افزودن به لیست مقایسه" title="مقایسه">
                                            <i class="fa fa-crop"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
