@model Ahora.WebApp.Models.App.ShoppingCartItemListModel
@using FM.Portal.Core.Common;
@{
    var shippingCost = Model.AvailableShoppingCartItem.Where(x => x.ShippingCost != null).Select(x => x.ShippingCost).OrderByDescending(x => x.Priority).FirstOrDefault();
    var deliveryDate = Model.AvailableShoppingCartItem.Where(x => x.DeliveryDate != null).Select(x => x.DeliveryDate).OrderByDescending(x => x.Priority).FirstOrDefault();
}
<section class="mt-4">
    <div class="container">
        <div class="row">
            @{
                if (shippingCost != null && shippingCost.Price > 0)
                {
                    <div class="col-md-4">
                        <label class="label label-default">هزینه ارسال محصول (@shippingCost.Name) : </label>
                        <label class="label text-danger">@string.Format("{0:C0} تومان", shippingCost.Price).Replace("$", "")</label>
                    </div>
                }
                else
                {
                    if (Model.AmountBasket < Helper.ShoppingCartRate)
                    {

                        <div class="col-md-4">
                            <label class="label label-default">هزینه ارسال محصول : </label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", Helper.ShippingCosts).Replace("$", "")</label>
                        </div>
                    }
                }
                if (shippingCost != null && (shippingCost.Price > 0 || Model.AmountBasket < Helper.ShoppingCartRate || Model.AmountBasket > Helper.ShoppingCartRate))
                {
                    if (shippingCost.Price > 0)
                    {
                        <div class="col-md-4">
                            <label class="label label-default">قیمت نهایی :</label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", shippingCost.Price + Model.AmountBasket).Replace("$", "")</label>
                        </div>
                    }
                    else if (Model.AmountBasket < Helper.ShoppingCartRate)
                    {
                        <div class="col-md-4">
                            <label class="label label-default">قیمت نهایی :</label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", Helper.ShippingCosts + Model.AmountBasket).Replace("$", "")</label>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <label class="label label-default">قیمت نهایی :</label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", Model.AmountBasket).Replace("$", "")</label>
                        </div>
                    }
                }
                if (Model != null && deliveryDate != null)
                {
                    <div class="col-md-4">
                        <label class="label label-default">
                            <i class="fa fa-calendar text-success"></i>
                            زمان ارسال محصول :
                        </label>
                        <label class="label text-danger">@deliveryDate.Name</label>
                    </div>
                }
            }

        </div>
    </div>
</section>

