@model List<ShoppingItemVM>
@using FM.Portal.Core.Common;
@{
    var amountBasket = (decimal)ViewBag.amountBasket;
    var shippingCost = Model.Where(x => x.Product.ShippingCost != null).Select(x => x.Product.ShippingCost).OrderByDescending(x=>x.Priority).FirstOrDefault();
    var deliveryDate = Model.Where(x => x.Product.DeliveryDate != null).Select(x => x.Product.DeliveryDate).OrderByDescending(x => x.Priority).FirstOrDefault();
}
<section class="mt-4">
    <div class="container">
        <div class="row">
            @{
                if (shippingCost != null && shippingCost.Price > 0)
                {
                    <div class="col-md-4">
                        <label class="label label-default">هزینه ارسال محصول (@shippingCost.Name) : </label>
                        <label class="label text-danger">@string.Format("{0:C0} تومان", shippingCost.Price).Replace("$", "")</label>
                    </div>
                }
                else
                {
                    if (amountBasket < Helper.ShoppingCartRate)
                    {

                        <div class="col-md-4">
                            <label class="label label-default">هزینه ارسال محصول : </label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", Helper.ShippingCosts).Replace("$", "")</label>
                        </div>
                    }
                }
                if (shippingCost != null && (shippingCost.Price > 0 || amountBasket < Helper.ShoppingCartRate || amountBasket > Helper.ShoppingCartRate))
                {
                    if (shippingCost.Price > 0)
                    {
                        <div class="col-md-4">
                            <label class="label label-default">قیمت نهایی :</label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", shippingCost.Price + amountBasket).Replace("$", "")</label>
                        </div>
                    }
                    else if (amountBasket < Helper.ShoppingCartRate)
                    {
                        <div class="col-md-4">
                            <label class="label label-default">قیمت نهایی :</label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", Helper.ShippingCosts + amountBasket).Replace("$", "")</label>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <label class="label label-default">قیمت نهایی :</label>
                            <label class="label text-danger">@string.Format("{0:C0} تومان", amountBasket).Replace("$", "")</label>
                        </div>
                    }
                }
                if (Model != null && deliveryDate != null)
                {
                    <div class="col-md-4">
                        <label class="label label-default">
                            <i class="fa fa-calendar text-success"></i>
                            زمان ارسال محصول :
                        </label>
                        <label class="label text-danger">@deliveryDate.Name</label>
                    </div>
                }
            }

        </div>
    </div>
</section>

