<!doctype html>

<html>
<head>
    <title>پرتال</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="~/Areas/User/Content/bootstrap-rtl/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Areas/User/Content/user/user.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/bootstrap4js")
    <script src="~/Areas/User/Content/js/custom.js"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
                <div id="sidebar-close">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </div>
                <div id="sidebar-title">
                    <div id="sidebar-title-image">
                        <img class="m-auto d-block" src="~/Areas/User/Content/img/logo.png" />
                    </div>
                </div>
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/home/order">
                                سفارش های من
                                <i class="fa fa-first-order"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/address/index">
                                آدرس های من
                                <i class="fa fa-address-card"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/profile/index">
                                ویرایش پروفایل
                                <i class="fa fa-bell-o home-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="col-md-10" id="wrapper">
                <div id="toolbar" class="row">

                    <div class="col-md-9">
                        <div class="d-inline-block">
                            <div id="sidebar-switch">
                                <i class="fa fa-align-justify"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-inline-block header-icon">
                            <a href="@Url.RouteUrl("Home")">
                                <i class="fa fa-home home-icon"></i>
                            </a>
                            @*<a href="" ng-click="">
                                <i class="fa fa-bell-o home-icon"></i>
                            </a>*@
                            <a href="" ng-click="">
                                <i class="fa fa-envelope-o message-icon"></i>
                            </a>
                            <form method="post" action="/account/signout" class="form-inline">
                                <button type="submit" class="btn" style="cursor:pointer">
                                    <i class="fa fa-power-off exit-icon"></i>
                                </button>
                            </form>
                            <a href="/user/profile/index" class="user_action_image"><img class="user-image" src="" alt=""></a>

                        </div>
                    </div>
                </div>
                <div id="content" dir="rtl">
                    @RenderBody()
                </div>

            </div>

        </div>

    </div>
    @RenderSection("scripts", false)
</body>
</html>