@model FM.Portal.Core.Model.Events
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodySection{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.RouteUrl("Home")">خانه</a></li>
            <li class="breadcrumb-item"><a href="@Url.RouteUrl("Events")">رویدادها</a></li>
            <li class="breadcrumb-item active">@Model.Title</li>
        </ol>
    </nav>
    <article class="card">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">کد رویداد : </label> <label class="control-label">@Model.TrackingCode</label> -
                        <label class="control-label">تاریخ انتشار :</label> <label class="control-label">@FM.Portal.Core.Common.Helper.GetPersianDay(Model.CreationDate) - @FM.Portal.Core.Common.Helper.GetPersianMonthName(FM.Portal.Core.Common.Helper.GetPersianMonth(Model.CreationDate)) - @FM.Portal.Core.Common.Helper.GetPersianYear(Model.CreationDate)</label>
                    </div>
                    <div class="col-md-12"><h4 class="card-title">@Model.Title</h4></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-secondary" role="alert">
                <div class="alert-heading">
                    <p>@Model.Description</p>
                </div>
                <hr />
                <p class="mb-0">@Html.Raw(Model.Body)</p>
            </div>
        </div>
    </article>
}
