@model FM.Portal.Core.Model.PaymentDetailVM
@{
    ViewBag.Title = "سفارش های من";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var baseFlows = new List<FM.Portal.Core.Model.SalesFlow>();
    baseFlows.Add(new FM.Portal.Core.Model.SalesFlow() { ToDocState = FM.Portal.Core.Model.SalesDocState.ثبت_درخواست });
    baseFlows.Add(new FM.Portal.Core.Model.SalesFlow() { ToDocState = FM.Portal.Core.Model.SalesDocState.بررسی_و_ارجاع_به_واحد_مالی });
    baseFlows.Add(new FM.Portal.Core.Model.SalesFlow() { ToDocState = FM.Portal.Core.Model.SalesDocState.بررسی_و_ارجاع_به_واحد_انبار });
    baseFlows.Add(new FM.Portal.Core.Model.SalesFlow() { ToDocState = FM.Portal.Core.Model.SalesDocState.آماده_بسته_بندی });
    baseFlows.Add(new FM.Portal.Core.Model.SalesFlow() { ToDocState = FM.Portal.Core.Model.SalesDocState.ارسال_محصول });
}

<section>
    <h2 class="main-title">مشاهده جزئیات خرید</h2>
    <div class="card">
        <div class="card-body text-center">
            <div class="d-inline-block">
                @foreach (var item in baseFlows)
                {
                    if (Model.SalesFlows.Any(x => x.ToDocState == item.ToDocState))
                    {
                        <label class="d-inline mr-2 text-success">@item.ToDocState.ToString().Replace("_", " ")</label>
                        if (item.ToDocState != FM.Portal.Core.Model.SalesDocState.ارسال_محصول)
                        {
                            <i class="fa fa-arrow-left text-success"></i>
                        }
                    }
                    else
                    {
                        <label class="d-inline mr-2">@item.ToDocState.ToString().Replace("_", " ")</label>
                        if (item.ToDocState != FM.Portal.Core.Model.SalesDocState.ارسال_محصول)
                        {
                            <i class="fa fa-arrow-left text-danger"></i>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="factor">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">اطلاعات مشتری</span>
                </div>
                <div class="card-body form-horizontal">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">نام و نام خانوادگی</label>
                                    <span class="text-success">@Model.User.FirstName @Model.User.LastName</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">تلفن همراه</label>
                                    <span class="text-success">@Model.User.CellPhone</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">پست الکترونیکی</label>
                                    @if (Model.User.Email == null)
                                    {
                                        <span class="text-success">-</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">@Model.User.Email</span>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">آدرس</label>
                                    <span class="text-success">@Model.UserAddress.Address</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">کد پستی</label>
                                    <span class="text-success">@Model.UserAddress.PostalCode</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="card-title">اطلاعات محصول</span>
                </div>
                <div class="card-body form-horizontal">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>ردیف</td>
                                <td>نام محصول</td>
                                <td>قیمت</td>
                                <td>نوع تخفیف</td>
                                <td>مبلغ تخفیف</td>
                                <td>قیمت نهایی</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var row = 1;
                                foreach (var item in Model.Products)
                                {
                                    var sub = (item.Price - item.DiscountAmount);
                                    <tr>
                                        <td>@row</td>
                                        <td>@item.Name</td>
                                        <td>@item.Price.ToString().Split('.')[0]</td>
                                        <td>@item.DiscountName</td>
                                        <td>@item.DiscountAmount.ToString().Split('.')[0]</td>
                                        <td>@sub.ToString().Split('.')[0]</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span class="card-header">اطلاعات فروشنده</span>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">آدرس</label>
                                    <span class="text-success">@Model.UserAddress.Address</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">محل مهر فروشگاه</label><br />
                                <label class="control-label">@Model.Payment.CreationDatePersian</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group-justified pull-left">
                <a href="@Url.RouteUrl("User_PrintToPdf",new { PaymentID = Model.Payment.ID })" class="btn btn-primary">دانلود فاکتور</a>
                <a class="btn btn-cancel" href="@Url.RouteUrl("User_Orders")">بازگشت</a>
            </div>
        </div>
    </div>
</section>