@model Ahora.WebApp.Models.Org.RegisterModel
<section class="card">
    <div class="card-header">
        <h5 class="card-title">@T("Account.Register")</h5>
    </div>
    <div class="card-body form-horizontal">
        @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "container" }))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="FirstName">@T("Account.Register.Field.Firstname")</label>
                        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="LastName">@T("Account.Register.Field.Lastname")</label>
                        @Html.TextBoxFor(u => u.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="NationalCode">@T("Account.Register.Field.Nationalcode")</label>
                        @Html.TextBoxFor(u => u.NationalCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.NationalCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="CellPhone">@T("Account.Register.Field.Cellphone")</label>
                        @Html.TextBoxFor(u => u.CellPhone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.CellPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="Password">@T("Account.Register.Field.Password")</label>
                        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="RePassword">@T("Account.Register.Field.Repassword")</label>
                        @Html.PasswordFor(u => u.RePassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.RePassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="UserName">@T("Account.Register.Field.Username")</label>
                        @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(r => r.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success pull-left">ثبت نام</button>
        }
    </div>
</section>