@model Ahora.WebApp.Models.Org.LoginModel
    @{ 
        ViewBag.Title = T("Account.Login.Title");
    }
<!--================login_part Area =================-->
@section BodySection{
    <section class="row">
        <div class="col-md-7">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-7 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center">@T("Account.Login.Title")</h5>
                                @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "login.onSuccess", LoadingElementId = "loading", LoadingElementDuration = 300 }, new { @class = "form-horizontal", id = "frmLogin" }))
                                {
                                    @Html.HiddenFor(l => l.ShowCaptcha)
                                    @Html.HiddenFor(l => l.ReturnUrl)
                                    <div class="form-group">
                                        @Html.LabelFor(l => l.Username, new { @class = "control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(l => l.Username, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(l => l.Username, null, new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(l => l.Password, new { @class = "control-label" })
                                        <div class="col-md-12">
                                            @Html.PasswordFor(l => l.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(l => l.Password, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" id="captchaBox" style="display:none;">
                                        <div class="col-md-12">
                                            <img id="captcha" style="height: 100%; width: 100%;" />
                                        </div>
                                        <div class="col-md-12">
                                            <label class="">@T("Account.Login.FillCaptcha")</label>
                                            @Html.TextBoxFor(l => l.CaptchaText, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">@T("Account.Login.LoginButton")</button>
                                    <a href="@Url.RouteUrl("SignUp")" class="btn btn-lg btn-default btn-block">
                                        <i class="fa fa-user"></i>
                                        @T("Account.Login.Newuser")
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/login.jpg" class="img-responsive w-100" />
        </div>
    </section>
    <div id="loading" style="display: none">
        <div class="showbox">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
    </div>
}
<!--================login_part end =================-->
@section scripts{
    <script src="~/Scripts/custom/comment.js"></script>
    <script>
        $(function () {
            AjaxForm.EnableAjaxFormvalidate('frmLogin');
            AjaxForm.EnablePostbackValidation();
            AjaxForm.EnableBootstrapStyleValidation();
        })
    </script>
}