@model FM.Portal.Core.Model.Product
@{
    decimal temp1 = 0;
    decimal temp2 = 0;
}
<div class="container">
    <div class="row form-horizontal">
        <div class="col-md-12 m-auto">
            <label class="text-center">فروشنده : مرکز تامین کالای اهورا</label>
        </div>
        @if (!Model.CallForPrice)
        {
            <div class="col-md-12 text-center">
                <label class="text-info">قیمت محصول : </label>
                <label class="text-danger">@string.Format("{0:C0} تومان", Model.Price).Replace("$", "")</label>
                @{
                    if (Model.Category.HasDiscountsApplied)
                    {
                        if (Model.DiscountTypes == DiscountType.درصدی)
                        {
                            temp1 = (Model.Price * Model.DiscountAmount) / 100;
                            <label class="control-label text-info">
                                تخفیف » @Model.DiscountName :
                            </label>
                            <label class="control-label text-danger">
                                @string.Format("{0:C0} درصد", Model.DiscountAmount).Replace("$", "")
                            </label>
                        }
                        else
                        {
                            temp1 = Model.DiscountAmount;
                            <label class="control-label text-info">
                                تخفیف » @Model.DiscountName :
                            </label>
                            <label class="control-label text-danger">
                                @string.Format("{0:C0} تومان", Model.DiscountAmount).Replace("$", "")
                            </label>
                        }
                    }
                    if (Model.HasDiscount)
                    {
                        if (Model.DiscountType == DiscountType.درصدی)
                        {
                            temp2 = (Model.Price * Model.Discount) / 100;
                            <label class="control-label text-info">
                                تخفیف محصول :
                            </label>
                            <label class="control-label text-danger">
                                @string.Format("{0:C0} درصد", Model.Discount).Replace("$", "")
                            </label>
                        }
                        else
                        {
                            temp2 = Model.Discount;
                            <label class="control-label text-info">
                                تخفیف محصول :
                            </label>
                            <label class="control-label text-danger">
                                @string.Format("{0:C0} تخفیف", Model.Discount).Replace("$", "")
                            </label>
                        }
                    }
                }

                <hr />
                <label class="text-info">مبلغ نهایی : </label>
                <label class="text-danger">@string.Format("{0:C0} تومان", (Model.Price - (temp1 + temp2))).Replace("$", "")</label>
            </div>
            if (Model.Attributes.Count > 0)
            {
                <div class="col-md-12">
                    @foreach (var item in Model.Attributes)
                    {
                        string controlId = string.Format("product_attribute_{0}_{1}_{2}_{3}", item.ProductID, item.AttributeID, item.ID, item.TextPrompt);
                        string TextPrompt = !string.IsNullOrEmpty(item.TextPrompt) ? item.TextPrompt : item.TextPrompt;

                        <label class="control-label col-xs-2">@TextPrompt</label>
                        switch (item.AttributeControlType)
                        {
                            case AttributeControlType.کشویی:
                                <div class="btn-group col-xs-8">
                                    <select class="form-control" id="@controlId" name="@controlId" required="required">
                                        <option value="-1"></option>
                                        @foreach (var sub in item.ProductVariantAttributeValue)
                                        {
                                            var text = "";
                                            if (sub.Price > 0)
                                            {
                                                text = $"{sub.Name} - {string.Format("{0:C0}", sub.Price).Replace("$", "")}";
                                            }
                                            else
                                            {
                                                text = sub.Name;
                                            }
                                            <option name="@controlId" id="@controlId" value="@sub.ID">@text</option>
                                        }
                                    </select>
                                </div>
                                break;
                        }
                    }
                </div>
            }
            <div class="col-md-12 text-center mt-2">
                <button type="button" class="btn btn-danger" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddToCart", new { productId = Model.ID })', '#product-details-form');return false;">افزودن به سبد خرید</button>
            </div>
        }
        else
        {
            <label class="text-danger control-label text-center mt-3">جهت اطلاع از آخرین قیمت، تماس حاصل فرمایید</label>
        }
    </div>

</div>