@model List<FM.Portal.Core.Model.Product>
@{
    var columnWidth = "";
    if (Model.Count > 0)
    {
        columnWidth = Math.Round((decimal)(90M / Model.Count), 0).ToString() + "%";
    }
    var attributeSelectCustomer = new List<ListAttributeForSelectCustomerVM>();
    foreach (var product in Model)
    {
        foreach (var listAttribute in product.Attributes)
        {
            if (attributeSelectCustomer.FirstOrDefault(a => a.AttributeID == listAttribute.AttributeID) == null)
            {
                attributeSelectCustomer.Add(listAttribute);
            }
        }

    }
}

@section BodySection{
    <div class="row">
        <div class="col-md-12 mt-2">
            @if (Model.Count > 0)
            {
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">مقایسه محصولات</span>
                        <a href="#" onclick="setLocation('@Url.RouteUrl("ClearCompareProducts")')" class="btn btn-outline-danger pull-left">حذف همه</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table text-center">
                                    <tr>
                                        <td>&nbsp;</td>
                                        @foreach (var item in Model)
                                        {
                                            <td style="width: @columnWidth;">
                                                <a href="#" class="text-danger" title="حذف" value="حذف" onclick="setLocation('@Url.RouteUrl("RemoveProductFromCompareList",new {ProductID = item.ID })')">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        @foreach (var item in Model)
                                        {
                                            <td>
                                                <img src="~/Content/TemporaryFiles/@item.Attachments.Select(x => x.Path).First()/@item.Attachments.Where(x => x.Type == AttachmentType.اصلی).Select(x => x.FileName).FirstOrDefault()" alt="@item.Name" class="img-box-product" />
                                            </td>
                                        }

                                    </tr>
                                    <tr>
                                        <td>نام محصول</td>
                                        @foreach (var item in Model)
                                        {
                                            <td style="width: @columnWidth;">
                                                <span>@item.Name</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="text-danger">دسته بندی</td>
                                        @foreach (var item in Model)
                                        {
                                            <td style="width: @columnWidth;">
                                                <span class="text-danger">@item.CategoryName</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>وزن محصول</td>
                                        @foreach (var item in Model)
                                        {
                                            <td style="width: @columnWidth;">
                                                <span>@Math.Round(item.Weight, 2) گرم</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>طول محصول</td>
                                        @foreach (var item in Model)
                                        {
                                            <td style="width: @columnWidth;">
                                                <span>@Math.Round(item.Length, 2) سانتی متر</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>عرض محصول</td>
                                        @foreach (var item in Model)
                                        {
                                            <td style="width: @columnWidth;">
                                                <span>@Math.Round(item.Width, 2) سانتی متر</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>ارتفاع محصول</td>
                                        @foreach (var item in Model)
                                        {
                                            <td style="width: @columnWidth;">
                                                <span>@Math.Round(item.Height, 2) سانتی متر</span>
                                            </td>
                                        }
                                    </tr>
                                    @foreach (var listAttributeForSelectCustomer in attributeSelectCustomer)
                                    {
                                        <tr>
                                            <td><span>@listAttributeForSelectCustomer.TextPrompt</span></td>
                                            @foreach (var product in Model)
                                            {
                                                var attributesForProduct = product.Attributes.Where(x => x.ProductID == product.ID).ToList();
                                                var attributes = attributesForProduct.FirstOrDefault(a => a.AttributeID == listAttributeForSelectCustomer.AttributeID);
                                                if (attributes != null)
                                                {
                                                    <td class="@columnWidth">
                                                        @if (attributes.ProductVariantAttributeValue.Count > 1)
                                                        {
                                                            <ul class="list-group">
                                                                @foreach (var attribute in attributes.ProductVariantAttributeValue)
                                                                {
                                                                    <li class="list-group-item">
                                                                        @{
                                                                            if (attribute.Price > 0)
                                                                            {
                                                                                <span>@string.Format("{0} - {1:C0} تومان", attribute.Name, attribute.Price).Replace("$", "")</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@string.Format("{0}", attribute.Name)</span>
                                                                            }

                                                                        }
                                                                    </li>
                                                                }
                                                            </ul>

                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                @{
                                                                    var oneAttribute = attributes.ProductVariantAttributeValue.FirstOrDefault();
                                                                    if (oneAttribute.Price > 0)
                                                                    {
                                                                        <span>@string.Format("{0} - {1:C0} تومان", oneAttribute.Name, oneAttribute.Price).Replace("$", "")</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>@string.Format("{0}", oneAttribute.Name)</span>
                                                                    }
                                                                }
                                                            </span>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="@columnWidth">
                                                        <span>-----</span>
                                                    </td>
                                                }

                                            }

                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

